<?xml version="1.0" encoding="utf-8"?>
<!-- 
This template was written to work with Hibernate.

-->
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
          
<hibernate-configuration>
	<session-factory name="FrameworkHibernateSession">
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
    	<property name="hibernate.current_session_context_class">thread</property>
    	<property name="hibernate.connection.autocommit">false</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@127.0.0.1:1521:XE</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.connection.username">CRAMER</property>
		<property name="hibernate.connection.password">CRAMER</property>
		
	</session-factory>
</hibernate-configuration>